

.headerbar {
    z-index: 1000;


}


.headerbar p {
    /* margin-left: 0.8em;
    font-size: 42px;
    font-weight: 550;
    margin-top: 0.5em; */
}

.headerLogo {
    width: 10rem;
    height: auto;

}
.navbarLogo {
    margin-top: 2rem;
    width: 10rem;
    height: auto;

}