@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    
    background-image: url('');
}
html {
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
   
}