

body{
    margin: 0;
    padding: 0;
    

}
html {
    background-color: #EFEFEF;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    background-image: url('/images/backgroundMobile.png');
    letter-spacing: .5px;
   
}